<div id="carousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="1"
            class="active"></li>
        <li data-target="#carousel" data-slide-to="2"
            class=""></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{{ site.logo }}"
                 alt="Cloudiator Logo">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Cloudiator is a cross-cloud orchestration tool, allowing you to describe
                        an application once and deploy it on virtual machines at different cloud providers.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="/docs/installation.html" role="button">
                            Install Now
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Tutorial</h1>
                    <p>Take a tutorial, installing the widespread Mediawiki Application in
                    the cloud using Cloudiator</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">
                            Tutorial
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Tutorial</h1>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZdunLXKraT4"></iframe>
                    </div>
                    <p>View a video displaying a deployment using Cloudiator</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
