<div class="featurette">

    {% for item in site.data.features %}

    <hr class="featurette-divider">

    {% assign loopindex = forloop.index | modulo: 2 %}

    {% if loopindex == 0 %}
    {% assign heading_class = "col-md-7" %}
    {% assign image_class = "col-md-5" %}
    {% endif %}
    {% if loopindex == 1 %}
    {% assign heading_class = "col-md-7 col-md-push-5" %}
    {% assign image_class = "col-md-5 col-md-pull-7" %}
    {% endif %}

    <div class="row featurette">
        <div class="{{ heading_class }}">
            <h2 class="featurette-heading">{{ item.name }}</h2>
            <p class="lead">{{ item.description }}</p>
        </div>
        <div class="{{ image_class }}">
            <img class="featurette-image img-responsive center-block" src="{{ item.image }}"
                 alt="{{ item.name }}">
        </div>
    </div>

    {% endfor %}

    <hr class="featurette-divider">

</div>
